<div id="game" class="grid grid-cols-2">
    <div class="column">
        <pre> <%=figure_for(@tally.turns_left) %></pre>
    </div>
    <div class="column">
        <._tally_info tally={@tally} />
        <%= move_status(@tally.game_state) |> raw %>
        <br/>
        <%= continue_or_try_again(@conn, @tally.game_state) %>
    </div>
</div>